nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2em;

  ul {
    display: flex;
    list-style: none;

    li {
      margin-left: 1em;
    }
  }
}

a {
  text-decoration: none;
}